.nav {
  background-color: #f72210;
}

.nav a {
  text-decoration: none;
  color: white;
  width: 132px;
  height: 40px;
  font-size: 160%;
  font-family: Arial, Helvetica, sans-serif;
}

.top-nav-logo {
  width: 131px;
}

.login_img,
.menu_img {
  width: 21px;
  height: 30px;
}

.dise {
  display: none;
}

.nav-menu {
  display: none;
}

.nav-fast-link {
  display: none;
}

.footer_logo {
  width: 190px;
}

.social_media_footer {
  width: 26px;
}

@media screen and (min-width: 760px) {
  .social_media {
    text-align: right;
  }
}

@media screen and (min-width: 992px) {
  .top-nav-title {
    text-align: center;
    margin-top: 5px;
  }

  .top-nav-logo {
    width: 395px;
  }

  .menu {
    margin-top: 40px;
  }

  .dise {
    display: flex;
  }

  .nav_img {
    display: none;
  }

  .nav-menu {
    display: flex;
    width: 95%;
  }

  .search {
    width: 80px;
    outline: none;
    border: none;
  }

  .search_icon {
    display: flex;
    float: right;
    position: relative;
    height: 10px;
    bottom: 18px;
    left: 5px;
  }

  .nav-fast-link {
    display: flex;
    width: 80%;
  }
}
