.nav {
  background-color: #f72210;
}

.nav a {
  text-decoration: none;
  color: white;
  width: 132px;
  height: 40px;
  font-size: 160%;
  font-family: Arial, Helvetica, sans-serif;
}

.top-nav-logo {
  width: 131px;
}

.li-bg {
  background-color: #f72210;
}

.ul-list {
  width: 100%;
  justify-content: flex-end;
}

.login {
  display: none;
}

.login_img,
.menu_img {
  width: 21px;
  height: 30px;
}

.date {
  display: none;
}

.nav-menu {
  display: none;
}

.nav-fast-link {
  display: none;
}

.footer_logo {
  width: 190px;
}

.social_media_footer {
  width: 26px;
  border: 1px solid gray;
  padding: 2px;
  border-radius: 5px;
  background-color: white;
}

.social_media_footer:hover {
  background-color: gray;
}

/***Stories****/

.stories {
  width: 350px;
}

.stories_img {
  width: 350px;
}

.storie_title {
  color: black;
  font-size: 100%;
  font-size: 17px;
  font-family: "Roboto Condensed", sans-serif;
}

.storie_info {
  font-size: 13px;
  width: 350px;
  color: #333;
}

.storie_title:hover {
  color: black;
  text-decoration: underline;
}

.storie_annonc {
  color: black;
  font-size: 100%;
  font-size: 14px;
  font-family: "Roboto Condensed", sans-serif;
}

/******Top Stories********/

.my_turn_tablet {
  width: 345px;
}

.my_turn_tablet_img {
  width: 345px;
}

/******More Stories********/

.more_storie {
  width: 348px;
  height: 160px;
}

.more_storie_pic {
  width: 70px;
}

.more_storie_title {
  width: 240px;
  font-size: 17px;
  margin-right: 30px;
}

.more_storie_title a {
  color: black;
}

/*******Sponsor*******/

.sponsor {
  width: 348px;
}

.sponsor_img {
  width: 345px;
}

.sponsor_title a {
  color: black;
  font-size: 23px;
  font-weight: bolder;
}

/********Debate****/

.debate{
  font-size: 16px;
  color: #303030;
}

.debate-title{
  font-size: 15px;
  width: 270px;
  height: 45px;
}

.debate-title a {
  color: black;
  text-decoration: none;
}

.debate-title a:hover {
  text-decoration: underline;
}

.debate-info {
  width: 270px;
  font-size: 11px;
}

.versus-hr {
  border: 3px solid black;
  width: 320px;
}

.versus {
  margin-top: -30px;
  color: white;
}

.versus_span {
  border: 1px solid black;
  background-color: black;
}

/******************/

@media screen and (min-width: 760px) {
  .list_icon {
    display: none;
  }

  .social_media {
    text-align: right;
  }

  /****Top Stories****/

#second_article {
    padding-left: 70px;
  }

  .img-tablet {
    height: 241px;
  }

  /********More Storie***********/

  .more_storie_info{
    font-size: 13px;
    width: 350px;
    color: #333;
  }

  .more_storie {
    width: 348px;
    height: 140px;
  }

  /*****************************/

  .my_turn_tablet {
    width: 117px;
  }

  .my_turn_tablet_img {
    width: 117px;
  }

  /*******Sponsor*******/

 .sponsor {
  width: 348px;
 }

 .sponsor_img {
  width: 348px;
 }

 .sponsor_title a {
   color: black;
   font-size: 23px;
   font-weight: bolder;
 }

/*********Debate**********/

.debate{
  font-size: 16px;
  color: #303030;
}

.debate-title{
  font-size: 15px;
  width: 660px;
  height: 15px;
  margin-top: 10px;
}

.debate-title a {
  color: black;
  text-decoration: none;
}

.debate-title a:hover {
  text-decoration: underline;
}

.debate-info {
  width: 660px;
  font-size: 11px;
}

/*********Versus*************/

.debate-versus {
  height: 20px;
}

.versus-hr {
  border: 3px solid black;
  width: 720px;
}

.versus {
  margin-top: -30px;
  color: white;
}

.versus_span {
  border: 1px solid black;
  background-color: black;
}
}

 /*********************/ 

@media screen and (min-width: 992px) {
  .top-nav-title {
    text-align: center;
    margin-top: 5px;
  }

  .top-nav-logo {
    width: 395px;
  }

  .profile_icon,
  .list_icon {
    display: none;
  }

  .menu {
    margin-top: 40px;
  }

  .ul-list {
    margin-top: 20px;
  }

  .nav-menu-link {
    font-size: 15px;
    line-height: 24px;
    font-weight: bold;
    font-family: "Roboto Condensed", sans-serif;
    color: black;
  }

  .nav-menu-link:hover {
    color: red;
  }

  .login {
    display: flex;
    font-size: 12px;
    line-height: 30px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 5px;
    margin-bottom: 4px;
  }

  .login a:hover {
    color: black;
  }

  .date {
    display: flex;
  }

  .nav_img {
    display: none;
  }

  .nav-menu {
    display: flex;
    width: 100%;
  }

  .search {
    width: 80px;
    outline: none;
    border: none;
  }

  .search_icon {
    display: flex;
    float: right;
    position: relative;
    height: 10px;
    bottom: 18px;
    left: 5px;
  }

  .nav-fast-link {
    display: flex;
    width: 90%;
  }

  .fast-link {
    font-size: 13px;
    line-height: 24px;
    font-weight: bold;
    font-family: "Roboto Condensed", sans-serif;
    color: black;
  }

  .fast-link-item {
    color: #6c757d;
  }

  .fast-link:hover {
    color: red;
  }

  .img-tablet {
    width: 550px;
    height: 300px;
  }

 /*********Stories**********/ 

 /*************************/ 

  .my_turn_tablet {
    width: 182px;
  }

  .my_turn_tablet_img {
    width: 182px;
    padding-left: 5px;
  }

 /******More Stories********/ 

  .more_storie {
    width: 550px;
    height: 120px;
  }

  .more_storie_pic {
    width: 95px;
  }

  .more_storie_title {
    width: 300px;
    font-size: 17px;
    margin-right: 150px;
  }

  .more_storie_title a {
    color: black;
  }

  .more_storie_info {
    width: 450px;
  }

 /*********Debate**********/ 

  .debate {
    font-size: 16px;
    color: #303030;
  }

  .debate-title {
    font-size: 15px;
    width: 220px;
    height: 45px;
    margin-top: 10px;
  }

  .debate-title a {
    color: black;
    text-decoration: none;
  }

  .debate-title a:hover {
    text-decoration: underline;
  }

  .debate-info {
    width: 200px;
    font-size: 11px;
    margin-right: 20px;
  }

  .debate-img {
    margin-top: 10px;
    margin-right: 6px;
  }

 /*****Debate end*****************/ 

 /*********Versus*************/

  .debate-versus {
    width: 300px;
    height: 20px;
  }

  .versus-hr {
    border: 3px solid black;
    width: 280px;
  }

  .versus {
    margin-top: -30px;
  }

  .versus_span {
    color: white;
    background-color: black;
    border: 1px solid black;
  }

  .shehada {
    width: 200px;
    font-size: 15px;
  }

  .eugene {
    width: 180px;
  }

  .opinion-header {
    font-size: 16px;
    color: #303030;
  }

  .opinion-item {
    font-size: 17px;
    width: 290px;
    font-family: sans-serif;
  }

  .by-names {
    font-size: 14px;
    font-family: sans-serif;
    color: #555;
    margin-left: 80px;
  }
}
